
WeatherApp/WeatherApp.Services/obj/Debug/netcoreapp3.1/WeatherApp.Services.AssemblyInfo.cs
WeatherApp/WeatherApp.Services/obj/Debug/netcoreapp3.1/WeatherApp.Services.AssemblyInfoInputs.cache
WeatherApp/WeatherApp.Services/obj/Debug/netcoreapp3.1/WeatherApp.Services.assets.cache
WeatherApp/WeatherApp.Services/obj/project.assets.json
WeatherApp/WeatherApp.Services/obj/WeatherApp.Services.csproj.nuget.cache
WeatherApp/WeatherApp.Services/obj/WeatherApp.Services.csproj.nuget.dgspec.json
WeatherApp/WeatherApp.Services/obj/WeatherApp.Services.csproj.nuget.g.props
WeatherApp/WeatherApp.Services/obj/Debug/netcoreapp3.1/WeatherApp.Services.csproj.FileListAbsolute.txt
WeatherApp/WeatherApp.Services/obj/Debug/netcoreapp3.1/WeatherApp.Services.csprojAssemblyReference.cache
WeatherApp/WeatherApp.Services/obj/WeatherApp.Services.csproj.nuget.g.targets
WeatherApp/WeatherApp.Web/bin/Debug/netcoreapp2.2/appsettings.Development.json
WeatherApp/WeatherApp.Web/bin/Debug/netcoreapp2.2/appsettings.json
WeatherApp/WeatherApp.Web/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
WeatherApp/WeatherApp.Web/bin/Debug/netcoreapp2.2/WeatherApp.Web.deps.json
WeatherApp/WeatherApp.Web/bin/Debug/netcoreapp2.2/WeatherApp.Web.dll
WeatherApp/WeatherApp.Web/bin/Debug/netcoreapp2.2/WeatherApp.Web.pdb
WeatherApp/WeatherApp.Web/bin/Debug/netcoreapp2.2/WeatherApp.Web.runtimeconfig.dev.json
WeatherApp/WeatherApp.Web/bin/Debug/netcoreapp2.2/WeatherApp.Web.runtimeconfig.json
WeatherApp/WeatherApp.Web/bin/Debug/netcoreapp2.2/WeatherApp.Web.Views.dll
WeatherApp/WeatherApp.Web/bin/Debug/netcoreapp2.2/WeatherApp.Web.Views.pdb
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/project.razor.json
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.cshtml.g.cs
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.cshtml.g.cs
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.cshtml.g.cs
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.cshtml.g.cs
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.cshtml.g.cs
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.cshtml.g.cs
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.cshtml.g.cs
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/WeatherApp.Web.AssemblyInfo.cs
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/WeatherApp.Web.AssemblyInfoInputs.cache
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/WeatherApp.Web.assets.cache
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/WeatherApp.Web.csproj.CopyComplete
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/WeatherApp.Web.csproj.FileListAbsolute.txt
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/WeatherApp.Web.dll
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/WeatherApp.Web.pdb
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/WeatherApp.Web.RazorAssemblyInfo.cache
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/WeatherApp.Web.RazorAssemblyInfo.cs
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/WeatherApp.Web.RazorCoreGenerate.cache
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/WeatherApp.Web.csprojAssemblyReference.cache
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/WeatherApp.Web.RazorTargetAssemblyInfo.cache
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/WeatherApp.Web.RazorTargetAssemblyInfo.cs
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/WeatherApp.Web.TagHelpers.input.cache
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/WeatherApp.Web.TagHelpers.output.cache
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/WeatherApp.Web.Views.dll
WeatherApp/WeatherApp.Web/obj/Debug/netcoreapp2.2/WeatherApp.Web.Views.pdb
WeatherApp/WeatherApp.Web/obj/project.assets.json
WeatherApp/WeatherApp.Web/obj/WeatherApp.Web.csproj.nuget.cache
WeatherApp/WeatherApp.Web/obj/WeatherApp.Web.csproj.nuget.dgspec.json
WeatherApp/WeatherApp.Web/obj/WeatherApp.Web.csproj.nuget.g.props
WeatherApp/WeatherApp.Web/obj/WeatherApp.Web.csproj.nuget.g.targets
WeatherApp/.vs/WeatherApp/v16/.suo
WeatherApp/WeatherApp.Commons/bin/Debug/netcoreapp2.2/WeatherApp.Commons.deps.json
WeatherApp/WeatherApp.Commons/bin/Debug/netcoreapp2.2/WeatherApp.Commons.dll
WeatherApp/WeatherApp.Commons/bin/Debug/netcoreapp2.2/WeatherApp.Commons.pdb
WeatherApp/WeatherApp.Commons/obj/Debug/netcoreapp2.2/WeatherApp.Commons.AssemblyInfo.cs
WeatherApp/WeatherApp.Commons/obj/Debug/netcoreapp2.2/WeatherApp.Commons.AssemblyInfoInputs.cache
WeatherApp/WeatherApp.Commons/obj/Debug/netcoreapp2.2/WeatherApp.Commons.assets.cache
WeatherApp/WeatherApp.Commons/obj/Debug/netcoreapp2.2/WeatherApp.Commons.csproj.FileListAbsolute.txt
WeatherApp/WeatherApp.Commons/obj/Debug/netcoreapp2.2/WeatherApp.Commons.csprojAssemblyReference.cache
WeatherApp/WeatherApp.Commons/obj/Debug/netcoreapp2.2/WeatherApp.Commons.dll
WeatherApp/WeatherApp.Commons/obj/Debug/netcoreapp2.2/WeatherApp.Commons.pdb
WeatherApp/WeatherApp.Commons/obj/Debug/netcoreapp3.1/WeatherApp.Commons.AssemblyInfo.cs
WeatherApp/WeatherApp.Commons/obj/Debug/netcoreapp3.1/WeatherApp.Commons.AssemblyInfoInputs.cache
WeatherApp/WeatherApp.Commons/obj/Debug/netcoreapp3.1/WeatherApp.Commons.assets.cache
WeatherApp/WeatherApp.Commons/obj/Debug/netcoreapp3.1/WeatherApp.Commons.csprojAssemblyReference.cache
WeatherApp/WeatherApp.Commons/obj/project.assets.json
WeatherApp/WeatherApp.Commons/obj/WeatherApp.Commons.csproj.nuget.g.targets
WeatherApp/WeatherApp.Commons/obj/WeatherApp.Commons.csproj.nuget.g.props
WeatherApp/WeatherApp.Commons/obj/WeatherApp.Commons.csproj.nuget.dgspec.json
WeatherApp/WeatherApp.Commons/obj/WeatherApp.Commons.csproj.nuget.cache
WeatherApp/WeatherApp.Services/bin/Debug/netcoreapp2.2/WeatherApp.Commons.dll
WeatherApp/WeatherApp.Services/bin/Debug/netcoreapp2.2/WeatherApp.Commons.pdb
WeatherApp/WeatherApp.Services/bin/Debug/netcoreapp2.2/WeatherApp.Services.deps.json
WeatherApp/WeatherApp.Services/bin/Debug/netcoreapp2.2/WeatherApp.Services.dll
WeatherApp/WeatherApp.Services/bin/Debug/netcoreapp2.2/WeatherApp.Services.pdb
WeatherApp/WeatherApp.Services/bin/Debug/netcoreapp3.1/WeatherApp.Services.deps.json
WeatherApp/WeatherApp.Services/obj/Debug/netcoreapp2.2/WeatherApp.Services.dll
WeatherApp/WeatherApp.Services/obj/Debug/netcoreapp2.2/WeatherApp.Services.pdb
WeatherApp/WeatherApp.Web/bin/Debug/netcoreapp2.2/WeatherApp.Services.pdb
WeatherApp/WeatherApp.Web/bin/Debug/netcoreapp2.2/WeatherApp.Services.dll
WeatherApp/WeatherApp.Web/bin/Debug/netcoreapp2.2/WeatherApp.Commons.pdb
WeatherApp/WeatherApp.Web/bin/Debug/netcoreapp2.2/WeatherApp.Commons.dll
WeatherApp/WeatherApp.Services/obj/Debug/netcoreapp2.2/WeatherApp.Services.AssemblyInfoInputs.cache
WeatherApp/WeatherApp.Services/obj/Debug/netcoreapp2.2/WeatherApp.Services.assets.cache
WeatherApp/WeatherApp.Services/obj/Debug/netcoreapp2.2/WeatherApp.Services.csproj.CopyComplete
WeatherApp/WeatherApp.Services/obj/Debug/netcoreapp2.2/WeatherApp.Services.csproj.FileListAbsolute.txt
WeatherApp/WeatherApp.Services/obj/Debug/netcoreapp2.2/WeatherApp.Services.csprojAssemblyReference.cache
WeatherApp/WeatherApp.Services/obj/Debug/netcoreapp2.2/WeatherApp.Services.AssemblyInfo.cs
WeatherApp/.vs/WeatherApp/DesignTimeBuild/.dtbcache
WeatherApp/.vs/WeatherApp/v16/Server/sqlite3/db.lock
WeatherApp/.vs/WeatherApp/v16/Server/sqlite3/storage.ide
WeatherApp/.vs/WeatherApp/v16/Server/sqlite3/storage.ide-shm
WeatherApp/.vs/WeatherApp/v16/Server/sqlite3/storage.ide-wal
