<div class="p-4">
    <!-- ko foreach: vars.weather() -->
        <h1>FORECAST</h1>
        <hr>
        <div class="float-left text-left today-wrapper">        
            <h3>
                Today
            </h3>
            
            <!-- ko foreach: weathers() -->
                <!-- ko if: $index() == 0 -->
                <p>
                    <!-- ko text: main --><!-- /ko -->
                    <br>
                    <small data-bind="text: description"></small>
                </p>
                <!-- /ko -->
            <!-- /ko -->
            <p>Humidity <span data-bind="text: humidity + '%'"></span></p>
            <p>Wind <span data-bind="text: windspeed + 'kph'"></span></p>
        </div>
    
        <!-- ko foreach: weathers() -->
            <!-- ko if: $index() == 0 -->
            <img data-bind="attr: {src: 'http://openweathermap.org/img/wn/'+ icon +'.png'}">
            <!-- /ko -->
        <!-- /ko -->
    <!-- /ko -->
</div>