<div class="p-4">
    <form id="locationForm">
        @Html.AntiForgeryToken()
        <!-- ko foreach: vars.weather() -->
            <h1>CURRENT</h1>
            <hr>
            <h3><!-- ko text: name --><!-- /ko -->, <small data-bind="text: country"></small></h3>
            <h1 class="tempCel" data-bind="text: tempCel + ' °C'"></h1>
            <div class="row">
                <div class="col-md-6 text-md-right text-center pr-md-5">
                    <p> <img src="https://img.icons8.com/office/40/000000/temperature.png"> <span data-bind="text: tempMax"></span> °C</p>
                    <p> <img src="https://img.icons8.com/ultraviolet/40/000000/temperature.png"> <span data-bind="text: tempMin"></span> °C</p>
                </div>
                <div class="col-md-6 text-md-left text-center pl-md-5">
                    <p><img src="https://img.icons8.com/plasticine/100/000000/sunrise.png" width="40"> - <span data-bind="text: sunrise"></span></p>
                    <p><img src="https://img.icons8.com/plasticine/100/000000/sunset.png" width="40"> - <span data-bind="text: sunset"></span></p>
                </div> 
            </div>
        <!-- /ko -->
        <!-- ko if: vars.weather().length < 1 -->
            <h1>No weather data found</h1>
        <!-- /ko -->
        <input type="text" type="submit" data-bind="textInput: $root.vars.location" class="form-control changeLocation" placeholder="Change city...">
    </form>
</div>