@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="d-flex justify-content-center">
            <div class="card card-default mt-5" style="width:18rem">
                <div class="card-body">
                    <form data-bind="sumbit: events.submitLocation" id="locationForm">
                        @Html.AntiForgeryToken()
                        Candidate Selection App
                        
                        <!-- ko if: vars.country().length < 0-->
                        <p>Loading city data....</p>
                        <!-- /ko -->
                        <!-- ko if: vars.country().length > 0 -->
                        <select id="select-state" placeholder="Pick a city..." data-bind="options: vars.country(),
                                                                                        optionsValue: 'capital',
                                                                                        optionsText: 'capital',
                                                                                        value: vars.selectedCity">
                        </select>
                        <!-- /ko -->
                        <p>Loading weather information....</p>
                    </form>
                </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script type="module" src="~/assets/js/main.js"></script>
}