@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card card-default">
                <div class="card-body">
                    <form data-bind="sumbit: events.submitLocation" id="locationForm">
                        @Html.AntiForgeryToken()
                        Candidate Selection App
                        
                        <input type="text" id="selectize" data-bind="textInput: vars.location" class="form-control" placeholder="Enter location" />
                        <button class="btn btn-success" type="submit"> Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script type="module" src="~/assets/js/main.js"></script>
}