@{
    ViewData["Title"] = "Weather App";
}

@section Styles 
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/JavaScript-autoComplete/1.0.4/auto-complete.min.css">
}

<div class="container-fluid">
    @* add loader here *@
    @{await Html.RenderPartialAsync("~/Views/Home/_PartialLoaderWrapper.cshtml");}
    <div class="row row-height main-wrapper d-none">
        <div class="col-md-6 text-center current-wrapper">
            @{await Html.RenderPartialAsync("~/Views/Home/_PartialLeftForm.cshtml");}
        </div>
        <div class="col-md-6 text-center forecast-wrapper">
            @{await Html.RenderPartialAsync("~/Views/Home/_PartialRightForm.cshtml");}
        </div>
    </div>
</div>


@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/JavaScript-autoComplete/1.0.4/auto-complete.min.js"></script>
    <script type="module" src="~/assets/js/main.js"></script>
}